{% extends 'template.html' %}

{% block content %}
    <main>
        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m7">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                            <h4 class="center">Speeds up development</h4>
                            <p class="word-definition card-panel">We did most of the heavy lifting for you to provide a default stylings that
                                incorporate our custom components. Additionally, we refined animations and transitions
                                to provide a smoother experience for developers.</p>
                            <p class="word-definition card-panel">We did most of the heavy lifting for you to provide a default stylings that
                                incorporate our custom components. Additionally, we refined animations and transitions
                                to provide a smoother experience for developers.</p>
                        </div>
                    </div>


                    <div class="col s12 m5">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Examples</h5>

                            <p class="word-example card-panel teal">We have provided detailed documentation as well as specific code examples
                                to help new users get started. We are also always open to feedback and can answer any
                                questions a user may have about Materialize.</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>

            <div class="section">

            </div>
        </div>
    </main>
{% endblock %}
