{% extends 'template.html' %}

{% block content %}
<main class="grey lighten-2">

    <div class="content">
        <div class="flex-container">
            <div class="box one">
                <div class="collection">
                    <h4 class="collection-item">Alvin</h4>
                    <a href="#!" class="collection-item">Alvin</a>
                    <a href="#!" class="collection-item active">Alvin</a>
                    <a href="#!" class="collection-item">Alvin</a>
                    <a href="#!" class="collection-item">Alvin</a>
                </div>
            </div>

            <div class="box two">
                <ul class="collection with-header">
{#                    <li class="collection-header"><h3>First Names</h3></li>#}
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                  </ul>
            </div>
        </div>
    </div>

</main>
{% endblock %}
