{% extends 'template.html' %}

{% block content %}

{#    <div class="container">#}
{#        <h4>Register</h4>#}
{#        <br>#}
{#        {% from "_formhelpers.html" import render_field %}#}
{#        <form method=post action="/register/">#}
{#            <dl>#}
{#                {{ render_field(form.email) }}#}
{#                {{ render_field(form.password) }}#}
{#                {{ render_field(form.confirm) }}#}
{#                {{ render_field(form.accept_tos) }}#}
{#            </dl>#}
{#            <p><input type=submit value=Register></p>#}
{#        </form>#}
{##}
{#        {% if error %}#}
{#            <p class="error"><strong>Error:</strong>{{ error }}</p>#}
{#        {% endif %}#}
{##}
{#    </div>#}

    <div>
    <h4>Register</h4>
        <form action="/register" method="post">
            <ul>
                <li><input name="email" type="email" title="email"></li>
                <li><input name="password" type="password" title="password"></li>
            </ul>
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}