.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.word-definition:hover {
    color: #eeeeee;
    background-color: #29b6f6;
    cursor: pointer;
}
.word-example {
    color: #eeeeee;
    background-color: #26a69a;
}
.warning{
    color: #222222;
    background-color: #ffcc80;
}
.success{
    color: #222222;
    background-color: #29b6f6;
}

